{% extends "base.html.twig" %}

{% block title %}   {{title_page}}  {% endblock %}

 
{% block body %}
	<div class="container text-justify">
<h2>COMUNICACIONES Y TALLERES DE LOS OBSERVATORIOS Y SERVICIOS DE EMPLEO UNIVERSITARIO:</h2>

<p>Con la finalidad de que estas Jornadas generen un intercambio de experiencias entre los participantes, se podrán presentar talleres y comunicaciones sobre buenas prácticas, experiencias, proyectos, etc. de los observatorios y servicios de empleo universitario, que se solicitarán en el formato correspondiente: <a href="{{asset('files/documents/Plantilla.docx')}}">descargar formulario de solicitud</a>.</p>

<p>Las solitudes se enviarán a la dirección <a href="mailto:emple@ujaen.es">emple@ujaen.es</a> en <b>el plazo siguiente: desde las 13.00 hs. del día 20 de enero de 2017, hasta las 24:00 hs. del día 1 de febrero de 2017</b>.</p>

<p>Aquellas comunicaciones o talleres que resulten seleccionados, tendrán un máximo de 20 minutos de exposición, según el Programa de estas Jornadas. Las presentaciones se realizarán en Powerpoint Microsoft 2013 y con un máximo de 20 diapositivas</p>

<p>La Comisión científica de valoración del Vicerrectorado de Relaciones con la Sociedad e Inserción Laboral de la Universidad de Jaén, al cierre del plazo, valorará las comunicaciones y talleres presentados. Los seleccionados podrán ser expuestos el día correspondiente, según el Programa de estas Jornadas. Las comunicaciones que no sean expuestas formarán parte de un repositorio virtual en este apartado de la página web, donde podrán ser consultadas.</p>

</div>
{% endblock %}