{% extends "base.html.twig" %}



 
{%block body %}
    
    <div id="mapa">
    	<div id="texto"><p class="container">Pueden consultar en el mapa los hoteles, donde se incluyen los precios de alojamiento y gestionar directamente la reserva de habitación.
Al realizar la reserva, deben informar al hotel que son inscritos en las VI Jornadas de Empleo Universitario</p></div>	
    	<iframe src="{{map}}" width="100%" height="1000"></iframe>
    </div>

{% endblock %}



{% block footer %}


    <div class="container">
        

    </div>

{% endblock %}
