{% extends "base.html.twig" %}

{% block title %}   {{title_page}}  {% endblock %}

{% block body %}
	<div class="container">
		<h1>{{title_page}}</h1>
		<p>A los efectos previstos en la Ley Orgánica 15/1999, de 13 de diciembre, sobre Protección de Datos de Carácter Personal, se le informa que los datos personales proporcionados serán tratados e incluidos en un fichero cuya responsabilidad corresponde a la Universidad de Jaén, el cual se encuentra inscrito en la Agencia Española de Protección de Datos con el nombre de “documentación asociada a la gestión de la actividad investigadora” y cuya finalidad es: “disponer de la información necesaria para la gestión de las actividades de investigación consulta y explotación de datos”.</p>

		<p>Le informamos que tiene derecho al acceso, rectificación, cancelación y oposición en los términos previstos en la Ley, que podrá ejercitar mediante escrito dirigido al responsable de los mismos en la siguiente dirección: Universidad de Jaén, Servicio de Información y Asuntos Generales, Paraje de las Lagunillas s/n, 23071, Jaén o mediante el correo electrónico <a href="mailto:protecciondedatos@ujaen.es">protecciondedatos@ujaen.es</a></p>
	</div>
	


{% endblock %}