{% extends "base.html.twig" %}

{% block title %}   {{title_page}}  {% endblock %}

 
{%block body %}
<div class="container">
<h1 class="title">VI JORNADAS DE OBSERVATORIOS OCUPACIONALES UNIVERSITARIOS</h1>
<p class="date">Jaén, 9 y 10 de febrero de 2017</p>
<p class="info">PROGRAMA PROVISIONAL</p>
<h3><b>JUEVES 9 DE FEBRERO- SESIÓN DE MAÑANA</b></h3>
<p><b>9:00-9:30: Recepción y acreditación de asistentes</b></p>

<p><b>9:30-10:00: Acto inaugural</b></p>
<ul>
 <li>D. Juan Gómez Ortega. Rector Magnífico de la Universidad de Jaén</li>
 <li>Da. Francisca Molina Navarrete. Subdelegada del Gobierno Central en Jaén.</li>
 <li>Da Ana Cobo Carmona. Delegada del Gobierno de la Junta Andalucía en Jaén.</li>
 <li>D. Francisco Vañó Cañadas. Presidente del Consejo Social de la Universidad de Jaén.</li>
 <li>D. Francisco Reyes Martínez. Presidente de la Diputación Provincial de Jaén.</li>
</ul>
<p><b>10:00-11:00: Ponencia inaugural:</b></p>
<div class="sangria">
	<p><b>La inserción Laboral de egresados universitarios</b> (título provisional).</p>
	<ul>
	 <li>Responsable de Estadística e Información. Ministerio de Empleo y Seguridad Social.</li>
	 <li>Da. Cristina Moneo Ocaña. Subsecretaría de Universidades. Subdirección Gral. de Coordinación y Seguimiento Universitario. Ministerio de Educación, Cultura y Deporte.</li>
	</ul>
</div>
<p><b>11:00 -11:30 Pausa – café</b></p>
<p><b>11:30-13:00: Mesa Redonda:</b></p>
<div class="sangria">
<p><b>Desarrollo de Herramientas para Observatorios Ocupacionales</b> (título provisional).</p>

<p>Modera: Coordinador/a del Área de Empleo de CRUE-Asuntos Estudiantiles:</p>
<ul>
 <li>Representante del Instituto Nacional de Estadística (INE)</li>
 <li>Representante del Servicio Público de Empleo Estatal (SEPE). Ministerio de Empleo y Seguridad Social.</li>
 <li>Da. Dolores Rosell Vaquero. Coordinadora del Observatorio Argos. Consejería de Empleo, Empresa y Comercio. Servicio Andaluz de Empleo. Junta de Andalucía.</li>
 <li>D. Juan José Juan León Medina. Técnico del Observatorio Argos. Consejería de Empleo,</li>
 <li>Empresa y Comercio. Servicio Andaluz de Empleo. Junta de Andalucía.</li>
 <li>D. Fernando Sánchez-Pascuala Neira. Director del INCUAL (Instituto Nacional de las Cualificaciones). Ministerio de Educación, Cultura y Deporte.</li>
</ul>
</div>
<p><b>13:00-14:00: Mesa redonda:</b></p>
<div class="sangria">
<p><b>Empleabilidad y Discapacidad</b> (título provisional)</p>

<p>Modera: (pendiente)</p>
<ul>
 <li>Da Isabel Martínez Lozano. Comisionada de la Fundación ONCE para Universidades.</li>
 <li>Representante de COCEMFE, Confederación Española de Personas con Discapacidad Física y Orgánica.</li>
 <li>D. Matías García Fernández. Director de Secretariado Servicio Universitario de Empleo. Universidad de Almería.</li>
</ul>
</div>
<p><b>14:00-15:30: Comida (Edif. Usos Múltiples C4)</b></p>

<h3><b>JUEVES 9 DE FEBRERO – SESIÓN DE TARDE</b></h3>

<p><b>15:45-18:00: Talleres Prácticos:</b></p>
<div class="sangria">
<p><b>Buenas prácticas de los Observatorios</b></p>
<p>Modera: D. Raúl Mata Campos. Director de Secretariado de Prácticas Externas, Inserción Laboral y Egresados de la Universidad de Jaén.</p>
<ul>
 <li>Miembros de Observatorios Universitarios</li>
 <li>Miembros de Observatorios Universitarios</li>
 <li>Miembros de Observatorios Universitarios</li>
</ul>
</div>
<p><b>18:00-20:00: Descanso – Tiempo Libre.</b></p>

<p><b>20:00-22:00. Visita guiada a la Ciudad y Cena en Parador de Turismo de Jaén.</b>

<h3><b>VIERNES 10 DE FEBRERO – SESIÓN DE MAÑANA</b></h3>

<p><b>10:00-11:00. Ponencia:</b></p>
<div class="sangria">
	<p><b>Movilidad internacional e inserción profesional</b> (título provisional)</p>

 <ul><li>Representante del SEPIE (Servicio Español para la Internacionalización de la Educación). Ministerio de Educación, Cultura y Deporte.</li></ul>
</div>
<p><b>11.00-12.30. Mesa redonda:</b></p>
<div class="sangria">
	<p><b>Generación de información analítica sobre empleabilidad y empleo universitarios.</b></p>

<p>Modera: (pendiente)</p>
<ul>
 <li>D. José María Nyssen. Representante de ANECA. Convergencia en metodologías e indicadores.</li>
 <li>Representante de la Agencia Española de Protección de Datos.</li>
 <li>D. José Ruíz Navarro. Director de la Cátedra de Emprendedores de la Universidad de Cádiz. Director del Observatorio GEM (Global Entrepreneurship Monitor).</li>
 <li>D. Juan Hernández Armenteros. Profesor Titular Universidad de Jaén, Área de Economía. Co-Director del Informe CRUE “La Universidad Española en Cifras”</li>
</ul>
</div>
<p><b>12:30-13:00- Brunch</b></p>

<p><b>13:00-14:00. Coloquio-Debate: </b></p>
<div class="sangria">
	<p><b>Situación actual de los Observatorios Ocupacionales Universitarios.</b></p>

<p>Presenta y modera: Coordinador/a del Área de Empleo de CRUE-Asuntos Estudiantiles.</p>
</div>
<p><b>14:00. Acto de Clausura:</b></p>
<div class="sangria">
<p>D. Juan Ramón Lanzas Molina. Vicerrector de Relaciones con la Sociedad e Inserción Laboral de la Universidad de Jaén.</p>
</div>
</div>
{% endblock %}