{% extends "base.html.twig" %}

{% block title %}   {{title_page}}  {% endblock %}

{%block body %}
<div class="container">
<div class="rector">
<img src="{{asset('files/images/juangomez.jpg')}}">
</div>
<div id="saludo">

<p><span>Saludo del Rector:</span></p>

<p>La Universidad de Jaén se congratula de celebrar las VI Jornadas de Observatorios de Empleo Universitario, promovidas por CRUE Universidades a través de su Comisión Sectorial de Asuntos Estudiantiles. Unas Jornadas que se vienen realizando desde el año 2007 en diferentes localizaciones del territorio nacional y, que en esta ocasión, tenemos el honor de acoger en nuestra Ciudad.</p>

<p>La inserción laboral de los titulados es responsabilidad de una universidad moderna, y el trabajo desarrollado en pro de su empleabilidad, por parte de los Observatorios y Servicios de Empleo universitarios, se ha convertido en una herramienta fundamental para la toma de decisiones estratégicas de los equipos de gobierno de las universidades, y para la planificación de medidas orientadas a la incorporación al mercado de trabajo de sus titulados, tanto por cuenta ajena, como a través del autoempleo.</p>

<p>En la recogida de información sobre empleabilidad que realizan los observatorios universitarios, es esencial la coordinación y colaboración con los distintos organismos y entidades (Ministerios, SEPE, INSS, etc.) para la puesta a disposición de las universidades de los datos analíticos sobre empleabilidad que manejan.</p>

<p>Estoy plenamente convencido de que este foro seguirá siendo un verdadero núcleo de encuentro de los profesionales que están llevando a cabo su labor en los observatorios y servicios de empleo universitarios, y los organismos y entidades representadas, y que en estas jornadas se pondrán de manifiesto ideas y propuestas innovadoras, en aras de favorecer la empleabilidad e inserción laboral de nuestros titulados.</p>

<p>Por todo ello, me complazco en invitarles a participar en los actos programados, y en darles la bienvenida a la Ciudad de Jaén y a nuestra Universidad.</p>

<p>Juan Gómez Ortega.</p>

<p>Rector de la Universidad de Jaén.</p>

</div>
	
</div>



{% endblock %}