{% extends "base.html.twig" %}
{% block body %}

<div id="inscripcion" class="container">
	<div>
	{{ form_errors(form) }}
	</diV>
	{{ form_start(form) }}
	{{ form_end(form) }}
		
</div>
{% endblock %}