#admin-asistentes-btn
{
	display: block;
	
	height: 30px;
}
#admin-asistentes-btn:after
{
	display: block;

	width: 30px;
	height: 30px;
	content: "";
	background-image: url("images/tabla.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50%;
	float: right;

}
.info-principal
{
	padding: 10px;
}
.info-principal p
{	
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
}
.foto-asistente
{
	float: left;
	margin: 5px;
	width: 100px;
	height: auto;
	max-height: 120px;
}

footer
{
	position: relative;
}