#admin-asistentes-btn
{
	display: block;
	
	height: 30px;
}
#admin-asistentes-btn:after
{
	display: block;

	width: 30px;
	height: 30px;
	content: "";
	background-image: url("images/tabla.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50%;
	float: right;

}

.col
{
	margin-bottom: 10px;
}
.asistente
{
	text-align: center;
	border: 2px solid #006d38;
	padding: 0px;
	border-radius: 5px;
	min-height: 243px;
}
.foto-asistente
{
	height: 120px;
	overflow: hidden;
}
.foto-asistente div
{
	display: block;
    width: 120px;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-left: auto;
    margin-right: auto;
	
}

footer
{
	position: relative;
}