#patners h1
{
	text-align: center;
}
#patners .col
{
	text-align: center;
	float: left;
	display: inline-block;
}

#patners .col span
{
	display: inline-block;
	width: 1px;
	vertical-align: middle;
	height: 200px;
}
#patners img
{
	max-width: 200px;
	display: inline-block;
}
footer
{
	position: relative;
}

.scrolloff
{
    pointer-events: none;
}

@media(orientation: landscape){

	#map
	{
		height: 250px!important;
	}
}